pandas
numpy
nltk
matplotlib
datetime
unicodedata
beautifulsoup
requests
urlparse
pillow>=10.3.0 # not directly required, pinned by Snyk to avoid a vulnerability
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
Levenshtein
itertools
transformers
torch
shutil
re
csv
